=font($font-name, $font-path, $font-weight)
  @font-face
    font-family: $font-name
    src: url($font-path)
    font-weight: $font-weight

+font('PT Sans', '../../fonts/PT_Sans-Web-Regular.ttf', 400)
+font('PT Sans', '../../fonts/PT_Sans-Web-Bold.ttf', 700)

